@model Edujinni.Models.addstudent
@{
 Layout = null;
}
@using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post))
{
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="text/javascript" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="text/javascript" />
    <link href="Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="Content/sb-admin.css" rel="stylesheet">
    <title>Edit Profile</title>
    <script>
            $(document).ready(function () {
                    $('#upload-data').click(function () {
                        $('#getfile').trigger('click');
                        return false;
                    });

                    $('#upload-data1').click(function () {
                        $('#getfile1').trigger('click');
                        return false;
                    });
                    $('#upload-data').mouseover(function () {
                        $('#upload-data').css('color', 'blue');
                    });
                    $('#upload-data').mouseout(function () {
                        $('#upload-data').css('color', 'black');
                    });
                    $('#upload-data1').mouseover(function () {
                        $('#upload-data1').css('color', 'blue');
                    });
                    $('#upload-data1').mouseout(function () {
                        $('#upload-data1').css('color', 'black');
                    });
                });
    </script>
    <style>
        .form-control {
            border-radius: 20px;
            background-color: white;
            height: 40px;
        }

        .file-upload {
            display: none;
        }

        .upload-button {
            font-size: 1.6em;
        }

        #upload-data {
            font-size: 1.6em;
        }

        #upload-data1 {
            font-size: 1.6em;
        }

        #basic-url {
            background-color: blue;
            color: white;
            border-radius: 00px 20px 20px 00px;
        }

        #basic-addon3 {
            background-color: #b3b3b3;
            width: 115px;
            border-radius: 20px 00px 00px 20px;
        }

        #phone {
            border-radius: 20px;
            background-color: blue;
        }

        #logodiv {
            width: 80px;
            margin-top: 15px;
            color: red;
        }

        #upload-data {
            margin-right: -15px;
            color: black;
            margin-top: 12px;
        }

        #image {
            background-color: silver;
            text-align: right;
            width: 255px;
            height: 100px;
            border-radius: 10px;
        }

        #image1 {
            margin-left: 33px;
            background-color: silver;
            width: 130px;
            height: 100px;
            text-align: right;
            border-radius: 10px;
        }

        #upload-data1 {
            margin-right: -15px;
            color: black;
            margin-top: 80px;
        }

        #btn1 {
            border-radius: 20px;
            background-color: black;
            color: white;
        }

        #btn2 {
            border-radius: 20px;
            background-color: #01BE66;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <div class="row ml-2 mr-2">
            <div class="col-md-12 mr-1">
                <form action="#">
                    <div class="row mt-3">
                        <div class="row mt-3">
                            @*<div class="mt-2" id="image1">*@
                            <img src="" alt="User Image" id="image1" />
                            @*<center><i class="fa fa-user fa-5x" style="color:blue;"></i></center>*@
                            <i class="fa fa-plus-circle upload-data" id="upload-data1"></i>
                            <input class="" id="getfile1" style="display: none;" type="file" accept="image/*"
                                   onchange="document.getElementById('image1').src = window.URL.createObjectURL(this.files[0])" />
                            @*</div>*@
                            <div class="col ml-4">
                                <div class="row mt-2">
                                    <div class="col-md-4 mt-5 input-group">
                                        <div class="form-check form-check-inline ml-auto mt-1">
                                            @Html.RadioButtonFor(Model => Model.student_gender, "Male", new { @class = "form-check-input", @id = "inlineCheckboxMale" })
                                            <label class="form-check-label" for="inlineCheckboxMale">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline ml-auto mt-1">
                                            @Html.RadioButtonFor(Model => Model.student_gender, "Female", new { @class = "form-check-input", @id = "inlineCheckboxFemale", @style = "margin-left:1px" })
                                            <label class="form-check-label" for="inlineCheckboxFemale">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(Model => Model.student_first_name, new { @class = "form-control", @placeholder = "First Name" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(Model => Model.student_last_name, new { @class = "form-control", @placeholder = "Last Name" })
                                </div>
                                @{ 
                                    List<SelectListItem> listitem = new List<SelectListItem>();
                                }
                                <div class="col-md-3">
                                    @*<select name="class" class="form-control" id="classs" placeholder="Class"  style="margin-right: 20px; ">
                                        <option selected="selected">Select class</option>
                                        <option>LKG</option>
                                        <option>UKG</option>
                                        <option>First Class</option>
                                        <option>Second Class</option>
                                    </select>*@
                                    @*@Html.DropDownListFor(Model =>Model.student_class, listitem, new { @class = "form-control" })*@
                                    @*@Html.DropDownList("--Select Class--", new SelectList(ViewBag.classdetails, "class_name"))*@
                                    @Html.TextBoxFor(Model =>Model.student_class,new {@class ="from-control", @placeholder ="Classname" })
                                </div>
                                @{ 
                                    List<SelectListItem> list = new List<SelectListItem>();
                                }
                                <div class="col-md-3">
                                    @*<select name="section" class="form-control" id="section" placeholder="Section"  style="">
                                        <option selected="selected">Select Section</option>
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <option>D</option>
                                    </select>*@
                                    @*@Html.DropDownListFor(Model => Model.student_class, list, new { @class = "form-control" })*@
                                    @Html.TextBoxFor(Model => Model.student_section, new { @class = "from-control", @placeholder = "sectionname" })
                                </div>
                            </div>
                        </div>
                        
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(Model => Model.student_roll_no, new { @class="form-control",@placeholder="Roll No"})
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(Model => Model.student_chiled_no, new { @class = "form-control", @placeholder = "chiled no" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(Model => Model.student_dob, new { @type="date",@class = "form-control", @placeholder = "Date of Birth" })
                                </div>
                            </div><br>
                            <hr>

                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <b>Family Information</b>
                        <div class="col-md-12"><br />                              
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_father_name, new { @class = "form-control", @placeholder = "Father Name" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_father_mobile_no, new { @class = "form-control", @placeholder = "Father Mobile No" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_father_occupation, new { @class = "form-control", @placeholder = "Father Occupation" })                                    
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_mother_name, new { @class = "form-control", @placeholder = "Mother Name" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_mother_mobile_no, new { @class = "form-control", @placeholder = "Mother Mobile No" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_mother_occupation, new { @class = "form-control", @placeholder = "Mother Occupation" })
                                </div>
                            </div>
                        <br>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.student_no_of_siblings, new { @class = "form-control", @placeholder = "Sibbling Name" })
                                </div>
                                @*<div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.sibblingage, new { @class = "form-control", @placeholder = "Age" })
                                </div>*@<br>

                            </div><br>
                            <hr>
                        </div>
                        </div>
                        <div class="row">
                            <label><b>Address</b></label>
                            <div class="col-md-12"><br />                             
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_flat_no, new { @class = "form-control", @placeholder = "Flat No" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_buliding_name, new { @class = "form-control", @placeholder = "Building Name" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_street, new { @class = "form-control", @placeholder = "Street 1" })
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_street1, new { @class = "form-control", @placeholder = "Street 2" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_area, new { @class = "form-control", @placeholder = "Area" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_city, new { @class = "form-control", @placeholder = "City" })
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_state, new { @class = "form-control", @placeholder = "State" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_pincode, new { @class = "form-control", @placeholder = "Area Code" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(Model => Model.student_admission_date, new {@type="date", @class = "form-control", @placeholder = "Admissiondate" })
                                    </div>
                                </div><br />
                                @{
                                    List<SelectListItem> lis = new List<SelectListItem>();
                                    lis.Add(new SelectListItem
                                    {
                                        Text = "Active",
                                        Value = "Active",
                                        Selected = true
                                    });
                                    lis.Add(new SelectListItem
                                    {
                                        Text = "InActive",
                                        Value = "InActive"
                                        
                                    });
                                }
                            <div class="row" style="margin-bottom:40px;">
                                <div class="col-md-4">
                                    @Html.DropDownListFor(Model => Model.Student_status,lis, new {@class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success form-control" style="border-radius: 20px; background-color:green;">Submit</button>
                                </div>
                            </div>
                        </div>
                            </div>
                </form>
            </div>
        </div>
    
</body>
}
