@model Edujinni.Models.Addteacher
@{
 //Layout = null;
}
@using (Html.BeginForm("AddTeacher", "Admin", FormMethod.Post))
    {
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="text/javascript" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="text/javascript" />
    <link href="Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="Content/sb-admin.css" rel="stylesheet">
    <title>Edit Profile</title>
    <script>
            $(document).ready(function () {
                    $('#upload-data').click(function () {
                        $('#getfile').trigger('click');
                        return false;
                    });

                    $('#upload-data1').click(function () {
                        $('#getfile1').trigger('click');
                        return false;
                    });
                    $('#upload-data').mouseover(function () {
                        $('#upload-data').css('color', 'blue');
                    });
                    $('#upload-data').mouseout(function () {
                        $('#upload-data').css('color', 'black');
                    });
                    $('#upload-data1').mouseover(function () {
                        $('#upload-data1').css('color', 'blue');
                    });
                    $('#upload-data1').mouseout(function () {
                        $('#upload-data1').css('color', 'black');
                    });
                });
    </script>
    <style>
        .form-control {
            border-radius: 20px;
            background-color:  #f0eeef;
            height: 40px;
        }

        .file-upload {
            display: none;
        }

        .upload-button {
            font-size: 1.6em;
        }

        #upload-data {
            font-size: 1.6em;
        }

        #upload-data1 {
            font-size: 1.6em;
        }

        #basic-url {
            background-color: blue;
            color: white;
            border-radius: 00px 20px 20px 00px;
        }

        #basic-addon3 {
            background-color: #b3b3b3;
            width: 115px;
            border-radius: 20px 00px 00px 20px;
        }

        #phone {
            border-radius: 20px;
            background-color: blue;
        }

        #logodiv {
            width: 80px;
            margin-top: 15px;
            color: red;
        }

        #upload-data {
            margin-right: -15px;
            color: black;
            margin-top: 12px;
        }

        #image {
            background-color: silver;
            text-align: right;
            width: 255px;
            height: 100px;
            border-radius: 10px;
        }

        #image1 {
            margin-left: 33px;
            background-color: silver;
            width: 130px;
            height: 100px;
            text-align: right;
            border-radius: 10px;
        }

        #upload-data1 {
            margin-right: -15px;
            color: black;
            margin-top: 25px;
        }

        #btn1 {
            border-radius: 20px;
            background-color: black;
            color: white;
        }

        #btn2 {
            border-radius: 20px;
            background-color: #01BE66;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <div class="row ml-2 mr-2">
            <div class="col-md-12 mr-1">
                <form action="#">
                    <div class="row mt-3">
                        @*<div class="mt-2" id="image1">
                        <img src="" alt="User Image" id="image1" />
                            <i class="fa fa-plus-circle upload-data" id="upload-data1"></i>
                            <input class="" id="getfile1" style="display: none;" type="file" accept="image/*" onchange="document.getElementById('image1').src = window.URL.createObjectURL(this.files[0])" />
                        </div>*@

                        <img src="" alt="User Image" id="image1" />
                        <i class="fa fa-plus-circle upload-data" id="upload-data1"></i>
                        <input class="" id="getfile1" style="display: none;" type="file" accept="image/*"
                               onchange="document.getElementById('image1').src = window.URL.createObjectURL(this.files[0])" />


                        <div class="col mt-4">
                            <div class="row mt-2">
                                <div class="col-md-6 mt-4 input-group">
                                    <div class="form-check form-check-inline ml-3">
                                        @Html.RadioButtonFor(m => m.teacher_gender, "Male", new { @class = "form-check-input", @id = "inlineCheckboxMale" })
                                        <label class="form-check-label" for="inlineCheckboxMale"style="margin-right:20px;">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline ml-3">
                                        @Html.RadioButtonFor(m => m.teacher_gender, "Female", new { @class = "form-check-input", @id = "inlineCheckboxFemale" })
                                        <label class="form-check-label" for="inlineCheckboxFemale">Female</label>
                                    </div>
                                </div>
                                </div>
                            <div class="row mt-2">
                                <div class="col-md-6 mt-4 input-group">
                                    <div class="form-check form-check-inline ml-3">
                                        @Html.RadioButtonFor(m => m.teacher_department, "Teaching", new { @class = "form-check-input", @id = "inlineCheckboxTeaching" })
                                        <label class="form-check-label" for="inlineCheckboxMale">Teaching</label>
                                    </div>
                                    <div class="form-check form-check-inline ml-3">
                                        @Html.RadioButtonFor(Model => Model.teacher_department, "Non Teaching", new { @class = "form-check-input", @id = "inlineCheckboxNonTeaching" })
                                        <label class="form-check-label" for="inlineCheckboxFemale">Non Teaching</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_first_name, new { @class = "form-control", @placeholder = "First Name" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_last_name, new { @class = "form-control", @placeholder = "Last Name" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                                
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_phone_no, new { @class = "form-control", @placeholder = "Phone No" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_teacherid, new { @class = "form-control", @placeholder = "Teacher ID" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_dob, new { @type = "date", @class = "form-control", @placeholder = "Date Of Birth" })
                                </div>
                            </div><br>
                            <hr>
                        </div>
                    </div>
                    <br>
                    <b style="float:left;">Academic Information</b><br />
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_subject1, new { @class = "form-control", @placeholder = "Subject 1" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_subject2, new { @class = "form-control", @placeholder = "Subject 2" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_qualification, new { @class = "form-control", @placeholder = "Qualification" })
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_date_of_joining, new { @type = "date", @class = "form-control", @placeholder = "Date of Joining" })
                                </div>
                            </div><br>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <b style="float:left;">Address</b>
                        <div class="col-md-12 mt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_flat_no, new { @class = "form-control", @placeholder = "Flat No" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_buildingname, new { @class = "form-control", @placeholder = "Building Name" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_street, new { @class = "form-control", @placeholder = "Street 1" })
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_street1, new { @class = "form-control", @placeholder = "Street 2" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_area, new { @class = "form-control", @placeholder = "Area" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_city, new { @class = "form-control", @placeholder = "City" })
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_state, new { @class = "form-control", @placeholder = "State" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(Model => Model.teacher_pincode, new { @class = "form-control", @placeholder = "Area Code" })
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success" style="height: 40px; width: 200px;border-radius: 10px;">Submit</button>
                                </div>
                            </div>
                            <!-- <input type="submit" class="btn btn-success" id="submit" value="submit" onclick="call();" style="height: 30px; width: 130px;"><br> -->
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}  
