@model Edujinni.Models.AdminMain
@{
Layout = null;
}
@using (Html.BeginForm("Main", "Home", FormMethod.Get))
{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Home</title>

    <!-- Bootstrap core CSS-->
<<<<<<< HEAD
    
=======
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<<<<<<< HEAD

    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sb-admin.css" rel="stylesheet">
    <style>
        
<!-- Custom fonts for this template-->
=======
    <!-- Custom fonts for this template-->
    <style>
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
        .navbar-brand {
            color: white;
            font-size: 1.5rem;
            height: 40px;
            margin-top: 5px;
        }

        .img {
            float: left;
            margin-left: 10px;
            margin-top: 10px;
        }
<<<<<<< HEAD
   
        /*CSS CODE FOR MAIN PAGE FIRST ROW TO DISPLAY STUDENTS ,PARENTS AND ALL INFO*/
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        #col {
            float: left;
            width: 110px;
            padding: 10px;   
                    
        }

        /* Clear floats after the columns */
        #row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
=======
    </style>
    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sb-admin.css" rel="stylesheet">
    @*<link href="~/Content/custom.css" rel="stylesheet">*@
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
    <body id="page-top">
        <div class="row" style="margin-bottom:-10px; height:auto;">
            <div class="col" id="logoBar" style="background-color: blue; margin-left: 0px; width:150px;">
                <a class="navbar-brand mr-1" href="#" style="color: white; font-size:18px;">&nbsp&nbsp&nbsp Logo</a>
                <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" style="float: right; margin-top: 7px;">
                    <i class="fas fa-bars" style="margin-left: -20px; font-size:20px;"></i>
                </button>
            </div>
            <div class="col-md-10" style="background-color: white;">
                <span style="margin-left: 00px; font-size: 17px; margin-top:5px;">Welcome to school management system</span>
                <nav style="background-color: white; font-size:15px; margin-bottom:00px;" class="navbar navbar-expand navbar-dark navbar-right bg-grey static-top">
                    <form id="search-box" class="d-block d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                        <div id="search-box" class="input-group" style="width: auto;">
                            <input type="text" style="background-color: #ebebe0; border:none; border-radius: 20px 00px 00px 20px" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button" style="background-color: #ebebe0;border-radius: 00px 20px 20px 00px">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto ml-md-0">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw" style="color: grey;"></i>
                                <span class="badge badge-danger">7</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw" style="color: grey; border-radius: 14px;"></i>
                                @*<img src="images/Group 174.png" height="20" width="20">*@
                            </a>
                            <!-- <span style="margin-left: auto;">Admin name<br>Name</span> -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Activity Log</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow" style="">
                            <span style="">Admin name<br>Name</span>
                        </li>
                        <!-- <span style="margin-left: -40px;">Admin name<br>Name</span> -->
                    </ul>

                </nav>
            </div>
        </div>
        <div id="wrapper" style="font-size:12px;">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav" style="width: 0px;">
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 289.png" height="20" width="20">
                        <span>Academic Syllabus</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 176@2x.png" height="20" width="20" class="img">
                    <span>
                        @Html.ActionLink("Edit Profile", "EditProfile", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium;" })
                    </span>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <span>
                        <img src="~/Images/Group 232@2x.png" height="20" width="20" class="img">
                        @Html.ActionLink("Teacher", "TeacherView", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium;" })
                    </span>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 235.png" height="20" width="20" class="img">
                    @Html.ActionLink("Add Subject", "AddSubjects", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;" })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/img.png" height="20" width="20" class="img">
                    @Html.ActionLink("Achievements", "ViewAchievements", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 289.png" height="20" width="20" class="img">
                    @Html.ActionLink("Attendance Records", "ATTRecords", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })

                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 204.png" height="20" width="20">
                        <span>Message</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 243.png" height="20" width="20">
                        <span>Fee Collection</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 246.png" height="20" width="20">
                        <span>Requested</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 180.png" height="20" width="20" class="img">
                    @Html.ActionLink("Assign TimeTable", "ViewTimeTable", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 198.png" height="20" width="20" class="img">
                    @Html.ActionLink("Add Events", "EvetsView", "Events", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                    
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 192@2x.png" height="20" width="20">
                        <span>Leading Board</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 290.png" height="20" width="20">
                        <span>Add Exam Schedules</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 210@2x.png" height="20" width="20">
                        <span>Results</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 292.png" height="20" width="20" class="img">
                    @Html.ActionLink("Students OverView", "StudentsOverView", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 293.png" height="20" width="20">
                        <span>Add Marks</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 294.png" height="20" width="20">
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
            <div id="content-wrapper" style="background-color: #ebebe0;">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb" style="background-color: #ebebe0; font-size: 12px; margin-top: -5px;">
                        <li class="breadcrumb-item">
                            <label>Home</label>
                        <label>-Admin</label>
                    </ol>

                    <div class="container mb-3">
                        <div class="row" style="margin-top: -10px;">
                            @* MY BODY COLOR GOES HERE *@
<<<<<<< HEAD
=======
                            <div class="col-md-12 mb-3">
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
                                @* MAIN OF THE ADMIN PANEL *@
                                <div class="row" style="min-height:80px;">

                                    @* STUDENTS  *@
<<<<<<< HEAD
                                    <div class="row mb-2" id="row">
                                        <div class="column" id="col" style="background-color:white;">
                                            <img src="~/Images/Group 196.png">
                                        </div>
                                        <div class="column"  id="col" style="background-color:#4F91FF; color:white; margin-right:50px;">
                                            <label>Students</label>
                                            @Html.TextBoxFor(Model => Model.Students, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    @* TEACHERS  *@  
                                    
                                    <div class="row mb-2" id="row">
                                        <div class="column" id="col"  style="background-color:white;">
                                            <img src="~/Images/Group 255.png">
                                        </div>
                                        <div class="column" id="col"  style="background-color:#F6BF07; color:white;  margin-right:50px;">
                                            <label>Teachers</label>
                                            @Html.TextBoxFor(Model => Model.Teachers, new { @class = "form-control" })
                                        </div>
                                    </div> 
                                   
                                    
                                    @* ADMIN STAFF  *@
                                    <div class="row mb-2" id="row">
                                        <div class="column" id="col"  style="background-color:white;">
                                            <img src="~/Images/Group 324.png">
                                        </div>
                                        <div class="column" id="col"  style="background-color:#242323; color:white;  margin-right:50px;">
                                            <label>Admin Staff</label>
                                            @Html.TextBoxFor(Model => Model.AdminStaff, new { @class = "form-control" })
                                        </div>
                                    </div> 

                                    @* PARENTS  *@
                                    <div class="row mb-2" id="row">
                                        <div class="column" id="col"  style="background-color:white;">
                                            <img src="~/Images/Group 258.png">
                                        </div>
                                        <div class="column" id="col"  style="background-color:#56FF00; color:white;  margin-right:50px;">
                                            <label>Parents</label>
                                            @Html.TextBoxFor(Model => Model.Parents, new { @class = "form-control" })
                                        </div>
                                    </div> 
                                    
                                    @* TOTAL EARNINGS  *@
                                    <div class="row mb-2" id="row">
                                        <div class="column" id="col"  style="background-color:white;">
                                            <img src="~/Images/Group 259.png">
                                        </div>
                                        <div class="column"  id="col" style="background-color:#FF0303; color:white;">
                                            <label>Total Earnings</label>
                                            @Html.TextBoxFor(Model => Model.TotalEarnings, new { @class = "form-control" })
                                        </div>
                                    </div>                  
                                </div>
                            </div>
                                <br />




                                @* SECOND ROW STARTS HERE *@
                            <div class="row mt-4" style="margin-left:-35px;">
                                    <div class="col-md-4" style="background-color:white;">
                                        <div class="row">
                                            <label>Fee Collection & Expenses</label>
                                            <span>
                                                //will place x symbol 
                                            </span>
                                        </div>
=======
                                    <div class="col-md-1 ml-4" style="height:auto;width:auto; background-color:white; border-bottom-left-radius:10px; border-top-left-radius:10px;">
                                        <img src="~/Images/Group 196.png">
                                    </div>
                                    <div class="col-md-1 mr-2" style="background-color:#4F91FF; border-bottom-right-radius:10px; border-top-right-radius:10px; color:white;">
                                        <label>Students</label>
                                        @Html.TextBoxFor(Model => Model.Students, new { @class = "form-control" })
                                    </div>  

                                    @* TEACHERS  *@   
                                    <div class="col-md-1 ml-4" style="height:auto;width:auto; background-color:white; border-bottom-left-radius:10px; border-top-left-radius:10px;">
                                        <img src="~/Images/Group 255.png">
                                    </div>
                                    <div class="col-md-1 mr-2" style="background-color:#F6BF07; border-bottom-right-radius:10px; border-top-right-radius:10px; color:white;">
                                        <label>Teachers</label>
                                        @Html.TextBoxFor(Model => Model.Teachers, new { @class = "form-control" })
                                    </div>    
                                    
                                    @* ADMIN STAFF  *@
                                    <div class="col-md-1 ml-4" style="height:auto;width:auto; background-color:white; border-bottom-left-radius:10px; border-top-left-radius:10px;">
                                        <img src="~/Images/Group 324.png">
                                    </div>
                                    <div class="col-md-1 mr-2" style="background-color:#242323; border-bottom-right-radius:10px; border-top-right-radius:10px; color:white;">
                                        <label>Admin Staff</label>
                                        @Html.TextBoxFor(Model => Model.AdminStaff, new { @class = "form-control" })
                                    </div>  
                                    
                                    @* PARENTS  *@
                                    <div class="col-md-1 ml-4" style="height:auto;width:auto; background-color:white; border-bottom-left-radius:10px; border-top-left-radius:10px;">
                                        <img src="~/Images/Group 258.png">
                                    </div>
                                    <div class="col-md-1 mr-2" style="background-color:#56FF00; border-bottom-right-radius:10px; border-top-right-radius:10px; color:white;">
                                        <label>Parents</label>
                                        @Html.TextBoxFor(Model => Model.Parents, new { @class = "form-control" })
                                    </div>   
                                    
                                    @* TOTAL EARNINGS  *@
                                    <div class="col-md-1 ml-4" style="height:auto;width:auto; background-color:white; border-bottom-left-radius:10px; border-top-left-radius:10px;">
                                        <img src="~/Images/Group 259.png">
                                    </div>
                                    <div class="col-md-1 mr-2" style="background-color:#FF0303; border-bottom-right-radius:10px; border-top-right-radius:10px; color:white;">
                                        <label>Total Earnings</label>
                                        @Html.TextBoxFor(Model => Model.TotalEarnings, new { @class = "form-control" })
                                    </div>                                
                                </div>
                                <br />

                                @* SECOND ROW STARTS HERE *@
                                <div class="row">
                                    <div class="col-md-4 ml-2" style="background-color:white;">
                                        <div class="row">
                                            <label>Fee Collection & Expenses</label>
                                            <span>
                                                //will place x symbol
                                            </span>
                                        </div> 
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
                                        <div class="row">
                                            //a bar graph is displayed
                                        </div>
                                    </div>
                                    <div class="col-md-4 ml-2" style="background-color:white">
<<<<<<< HEAD
                                        <div class="row">
                                            <label>Achievements</label>
                                            <span>
                                                //will place x symbol
                                            </span>
                                        </div>
=======
                                       <div class="row">
                                           <label>Achievements</label>
                                           <span>
                                               //will place x symbol
                                           </span>
                                       </div>
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
                                        <div class="row">
                                            <div class="col-md-3 ml-1" style="background-color:silver;">
                                                <img src="~/Images/Group 282.png">
                                                <div class="col" style="color:white;">
                                                    <label>Top Students</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ml-1" style="background-color:silver;">
                                                <img src="~/Images/Group 284.png">
                                            </div>
                                            <div class="col-md-3 ml-1" style="background-color:silver;">
                                                <img src="~/Images/Group 286.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ml-2" style="background-color:white">
                                        bajsjad
                                    </div>
                                </div>
<<<<<<< HEAD
                                
                            @* SECOND ROW ENDS HERE *@



                            </div>
                            </div>
                        </div>
                    </div>
=======






                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
>>>>>>> bbe0e9e997bff5306febc37333a3c61a725eb687
        <!-- /.content-wrapper -->
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="#/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/sb-admin.min.js"></script>
        <!-- Core plugin JavaScript-->
        <!-- <script src="js-easing/jquery.easing.min.js"></script> -->
        <!-- Page level plugin JavaScript-->
        <!-- <script src="vendor/chart.js/Chart.min.js"></script>
        <script src="vendor/datatables/jquery.dataTables.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.js"></script> -->
        <!-- Custom scripts for all pages-->
        <!-- Demo scripts for this page-->
        <script src="~/Scripts/custom.js"></script>
        <style type="text/css">
        </style>
    </body>
}
