@model Edujinni.Models.AdminMain
@{
    Layout = null;
}
@{
//using system.data;
//Sqlconnection com = null;
//var db = Database.Open("test");
//var selectedData = db.Query("SELECT * FROM Movies");
//var grid = new WebGrid(source: selectedData);
}
@using (Html.BeginForm("Main", "Home", FormMethod.Get))
{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Home</title>

    <!-- Bootstrap core CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Custom fonts for this template-->
    <style>
        .navbar-brand {
            color: white;
            font-size: 1.5rem;
            height: 40px;
            margin-top: 5px;
        }

        .img {
            float: left;
            margin-left: 10px;
            margin-top: 10px;
        }

        /*CSS CODE FOR MAIN PAGE FIRST ROW TO DISPLAY STUDENTS ,PARENTS AND ALL INFO*/
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        #col {
            width: 100px;
            padding: 20px;
        }

        /* Clear floats after the columns */
        #row:after {
            content: "";
            display: table;
            clear: both;
        }

        #border {
            border-radius: 10px;
        }

        h3 {
            margin-left: 2px;
            margin-top: 2px;
        }
    </style>
    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sb-admin.css" rel="stylesheet">
    @*<link href="~/Content/custom.css" rel="stylesheet">*@
    <body id="page-top">
        <div class="row" style="margin-bottom:-10px; height:auto;">
            <div class="col" id="logoBar" style="background-color: blue; margin-left: 0px; width:150px;">
                <a class="navbar-brand mr-1" href="#" style="color: white; font-size:18px;">&nbsp&nbsp&nbsp Logo</a>
                <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" style="float: right; margin-top: 7px;">
                    <i class="fas fa-bars" style="margin-left: -20px; font-size:20px;"></i>
                </button>
            </div>
            <div class="col-md-10" style="background-color: white;">
                <span style="margin-left: 00px; font-size: 17px; margin-top:5px;">Welcome to school management system</span>
                <nav style="background-color: white; font-size:15px; margin-bottom:00px;" class="navbar navbar-expand navbar-dark navbar-right bg-grey static-top">
                    <form id="search-box" class="d-block d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                        <div id="search-box" class="input-group" style="width: auto;">
                            <input type="text" style="background-color: #ebebe0; border:none; border-radius: 20px 00px 00px 20px" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button" style="background-color: #ebebe0;border-radius: 00px 20px 20px 00px">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto ml-md-0">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw" style="color: grey;"></i>
                                <span class="badge badge-danger">7</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw" style="color: grey; border-radius: 14px;"></i>
                                @*<img src="images/Group 174.png" height="20" width="20">*@
                            </a>
                            <!-- <span style="margin-left: auto;">Admin name<br>Name</span> -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Activity Log</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow" style="">
                            <span style="">Admin name<br>Name</span>
                        </li>
                        <!-- <span style="margin-left: -40px;">Admin name<br>Name</span> -->
                    </ul>

                </nav>
            </div>
        </div>
        <div id="wrapper" style="font-size:12px;">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav" style="width: 0px;">
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 289.png" height="20" width="20">
                        <span>Academic Syllabus</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 176@2x.png" height="20" width="20" class="img">
                    <span>
                        @Html.ActionLink("Edit Profile", "EditProfile", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium;" })
                    </span>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <span>
                        <img src="~/Images/Group 232@2x.png" height="20" width="20" class="img">
                        @Html.ActionLink("Teacher", "TeacherView", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium;" })
                    </span>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 235.png" height="20" width="20" class="img">
                    @Html.ActionLink("Add Subject", "AddSubjects", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;" })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/img.png" height="20" width="20" class="img">
                    @Html.ActionLink("Achievements", "ViewAchievements", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                    @*<a class="nav-link" href="#">
                            <img src="~/Images/img.png" height="20" width="20">
                            <span>View Achievements</span>
                        </a>*@
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 289.png" height="20" width="20" class="img">
                    @Html.ActionLink("Attendance Records", "ATTRecords", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })

                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 204.png" height="20" width="20">
                        <span>Message</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 243.png" height="20" width="20">
                        <span>Fee Collection</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 246.png" height="20" width="20">
                        <span>Requested</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 180.png" height="20" width="20" class="img">
                    @Html.ActionLink("Assign TimeTable", "ViewTimeTable", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 198.png" height="20" width="20" class="img">
                    @Html.ActionLink("Add Events", "EvetsView", "Events", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                    @*<a class="nav-link" href="#">
                            <img src="~/Images/Group 198.png" height="20" width="20">
                            <span>Add Events</span>
                        </a>*@
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 192@2x.png" height="20" width="20">
                        <span>Leading Board</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 290.png" height="20" width="20">
                        <span>Add Exam Schedules</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 210@2x.png" height="20" width="20">
                        <span>Results</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <img src="~/Images/Group 292.png" height="20" width="20" class="img">
                    @Html.ActionLink("Students OverView", "StudentsOverView", "Admin", new { area = "" }, new { @class = "navbar-brand", style = "font-size:medium; margin-top:-5px; margin-bottom:5px;  " })
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 293.png" height="20" width="20">
                        <span>Add Marks</span>
                    </a>
                </li>
                <li class="nav-item active" style="border-bottom: 1px solid #3d3d5c;">
                    <a class="nav-link" href="#">
                        <img src="~/Images/Group 294.png" height="20" width="20">
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
            @* THE DIV CONTENT STARTS FROM HERE *@
            <div id="content-wrapper" style="background-color: #ebebe0;">
                <div class="container-fluid" style=" margin-left:5px;">
                    <div class="row ml-auto">
                        <div><label>Home - Admin</label></div>                        
                    </div>
                    @* FIRST ROW *@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row ml-auto">
                                @* FIRST 2 COLUMNS STARTS HERE *@
                                <div class="col-md-5">
                                    @* STUDENT *@
                                    <div class="row" id="row" style="margin-right:45px;">
                                            <div class="column" id="col" style="background-color:white; margin-bottom:2px;">
                                                <center>
                                                    <img src="~/Images/Group 196.png" class="img-responsive" />
                                                </center>
                                            </div>
                                            <div class="column" id="col" style="background-color:#4F91FF; color:white; margin-right:auto; margin-bottom:2px;">
                                                <label>Students</label>
                                                @Html.TextBoxFor(Model => Model.Students, new { @class = "form-control" })
                                            </div>
                                        @* TEACHERS  *@
                                            <div class="column" id="col" style="background-color:white; margin-bottom:2px;">
                                                <center>
                                                    <img src="~/Images/Group 255.png">
                                                </center>
                                            </div>
                                            <div class="column" id="col" style="background-color:#F6BF07; color:white; margin-bottom:2px;">
                                                <label>Teachers</label>
                                                @Html.TextBoxFor(Model => Model.Teachers, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    @* ROW FIRST 2 COLUMNS ENDED *@

                                @* SECOND 2 COLUMNS STARTS HERE *@
                                <div class="col-md-5 ml-auto">
                                    @* STUDENT *@
                                    <div class="row" id="row"  style="margin-right:45px;">
                                        @* code huwewqnekdams  *@

                                        <div class="column" id="col" style="background-color:white; margin-bottom:2px;">
                                            <center>
                                                <img src="~/Images/Group 196.png" class="img-responsive" />
                                            </center>
                                        </div>
                                        <div class="column" id="col" style="background-color:#4F91FF; color:white; margin-right:auto; margin-bottom:2px;">
                                            <label>Students</label>
                                            @Html.TextBoxFor(Model => Model.Students, new { @class = "form-control" })
                                        </div>
                                        @* TEACHERS  *@
                                        <div class="column" id="col" style="background-color:white; margin-bottom:2px;">
                                            <center>
                                                <img src="~/Images/Group 255.png">
                                            </center>
                                        </div>
                                        <div class="column" id="col" style="background-color:#F6BF07; color:white; margin-bottom:2px;">
                                            <label>Teachers</label>
                                            @Html.TextBoxFor(Model => Model.Teachers, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                @* ROW SECOND 2 COLUMNS ENDED *@


                                @* SECOND 2 COLUMNS STARTS HERE *@
                                <div class="col-md-2 ml-auto">
                                    @* STUDENT *@
                                    <div class="row" id="row">
                                        <div class="column" id="col" style="background-color:white; margin-bottom:2px;">
                                            <center>
                                                <img src="~/Images/Group 196.png" class="img-responsive" />
                                            </center>
                                        </div>
                                        <div class="column" id="col" style="background-color:#4F91FF; color:white; margin-right:auto; margin-bottom:2px;">
                                            <label>Students</label>
                                            @Html.TextBoxFor(Model => Model.Students, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                @* ROW SECOND 2 COLUMNS ENDED *@

                                </div>
                               
                            </div>
                        </div>
                    @* FIRST ROW ENDS HERE *@
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                    </div>
                </div>
            </div>
            @* THE DIV CONTENT ENDS UP HERE *@
            <!-- /.content-wrapper -->
            <!-- /#wrapper -->
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
           
            <!-- Bootstrap core JavaScript-->
            <script src="~/Scripts/jquery.min.js"></script>
            <script src="~/Scripts/bootstrap.bundle.min.js"></script>
            <script src="~/Scripts/sb-admin.min.js"></script>
            <!-- Core plugin JavaScript-->
            <!-- <script src="js-easing/jquery.easing.min.js"></script> -->
            <!-- Page level plugin JavaScript-->
            <!-- <script src="vendor/chart.js/Chart.min.js"></script>
            <script src="vendor/datatables/jquery.dataTables.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.js"></script> -->
            <!-- Custom scripts for all pages-->
            <!-- Demo scripts for this page-->
            <script src="~/Scripts/custom.js"></script>
            <style type="text/css">
            </style>
    </body>
}
